/* testing */

.sm\:block {
  display: block;
}

.py-3 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.HiwSection {
  border-top: 1px solid rgba(0,0,0,.0625);
}

.Section {
  padding: 12rem 0;
}

.Section {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1728px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
  padding: 8rem 0;
}

.text-center {
  text-align: center;
}

.mt-4 {
  margin-top: 4rem;
}

.uppercase {
  text-transform: uppercase;
}
.font-regular {
  font-weight: 400;
}
.text-lg {
  font-size: 1.6153846153846154rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.uppercase {
  letter-spacing: .03em;
}

.mb-4 {
  margin-bottom: 4rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.OrderCrumb {
  display: flex;
  text-align: center;
}

.OrderCrumb-item--complete {
  border-color: #222;
}

.OrderCrumb-item {
  flex: 1;
  position: relative;
  padding-bottom: 1rem;
}
a {
  text-decoration: none;
  color: inherit;
}

.OrderCrumb-label {
  text-transform: uppercase;
  letter-spacing: .03em;
  line-height: 1.1;
}

.OrderCrumb-label {
  text-transform: uppercase;
  letter-spacing: .03em;
  line-height: 1.1;
}

.OrderCrumb-item:not(:first-child):before {
  left: -50%;
  width: 100%;
  border-bottom: 1px solid #ccc;
  z-index: 1;
}
.OrderCrumb-item:after, .OrderCrumb-item:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
}

.OrderCrumb-item:after {
  background: #fff;
  width: 12px;
  height: 12px;
  left: 50%;
  margin-left: -5px;
  margin-bottom: -5px;
  border: 1px solid #ccc;
  border-radius: 100%;
  z-index: 2;
  transition: border-color .3s;
}
.OrderCrumb-item:after, .OrderCrumb-item:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
}

/* testing */

.container {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: auto;
  padding: 0;
  margin: 0;
}

.body-container {
  display: grid;
  grid-template-columns: auto;
  padding: 0;
  margin: 0;
}

.header-container {
  background-color: #eceff2;
  text-align: center;
  padding: 45px 15px 25px 15px;
}

.vertical-container {
  display: grid;
  grid-template-columns: auto;
  text-align: center;
}

.title-one {
  font-size: 4.5vw;
  white-space: nowrap;
  font-weight: 500;
}

.hr1 {
  border: 2px solid #dddedf;
  width: 8vw;
}

.title-two {
  text-align: center;
  font-size: 4vw;
  margin-top: 30px;
}

.p-1 {
  text-align: center;
  font-size: 3.5vw;
  margin: 15px 10% 25px 10%;
  line-height: 1.3;
}

.p-2 {
  text-align: center;
  font-size: 3.5vw;
  margin: 15px 10% 25px 10%;
  line-height: 1.3;
}

.p-3 {
  text-align: center;
  font-size: 3.5vw;
  margin: 15px 10% 25px 10%;
  line-height: 1.3;
}

.btn1 {
  font-size: 2.75vw;
  color: white;
  background-color: #eb1c2c;
  padding: 8px 24px;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.btn1:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: black;
}

.btn2 {
  font-size: 2.75vw;
  color: white;
  background-color: #eb1c2c;
  padding: 8px 24px;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.btn2:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: black;
}

.btn3 {
  font-size: 2.75vw;
  color: white;
  background-color: #eb1c2c;
  padding: 8px 24px;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.btn3:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: black;
}

.vid {
  width: 85%;
  margin: 25px auto 5px auto;
  display: block;
  height: auto;
}

.title-three {
  text-align: center;
  font-size: 4vw;
  margin: 35px 10% 0 10%;
}

.title-four {
  text-align: center;
  font-size: 4vw;
  margin-top: 30px;
}

.title-five {
  text-align: center;
  font-size: 4vw;
  margin-top: 30px;
}

.title-six {
  text-align: center;
  font-size: 4vw;
  margin-top: 30px;
}

.title-seven {
  text-align: center;
  font-size: 4vw;
  margin-top: 30px;
}

.title-eight {
  text-align: center;
  font-size: 4vw;
  margin-top: 30px;
}

.img1 {
  width: 100%;
  margin: 0 auto 5px auto;
  display: block;
  height: auto;
}

.horizontal-container-w-grey {
  background-color: #e9e9e9;
  padding: 5px 20px 0 20px;
  text-align: center;
}

.horizontal-container-w-grey2 {
  background-color: #ededed;
  padding: 5px 20px 0 20px;
  text-align: center;
}

.horizontal-container-w-white {
  background-color: white;
  padding: 5px 20px 0 20px;
  text-align: center;
}

.vertical-container-w-grey {
  display: grid;
  grid-template-columns: auto;
  text-align: center;
  background-color: #ededed;
  padding: 0 20px 10px 20px;
}

.color-change {
  color: #eb1c2c;
}

.img2 {
  width: 75%;
  margin: 25px auto 0 auto;
  display: block;
  height: auto;
}

.img3 {
  width: 75%;
  margin: 20px auto 20px auto;
  display: block;
  height: auto;
}

.img4 {
  width: 75%;
  margin: 25px auto 0 auto;
  display: block;
  height: auto;
}

@media screen and (min-width: 768px) {
  .header-container {
    padding-top: 100px;
    padding-bottom: 65px;
  }

  .vertical-container {
    display: grid;
    grid-template-columns: 85%;
    justify-content: center;
    text-align: center;
  }

  .hr1 {
    border: 4px solid #dddedf;
    width: 9vw;
  }

  .item-order {
    order: 2;
  }

  .title-two {
    text-align: center;
    font-size: 2.75vw;
    margin-top: 10%;
  }

  .p-1 {
    font-size: 2.5vw;
    margin: 20px 5% 35px 5%;
  }

  .vid {
    width: 85%;
    margin: 75px auto 100px auto;
    display: block;
    height: auto;
  }

  .title-three {
    text-align: center;
    font-size: 2.75vw;
    margin: 35px 5% 0 5%;
  }

  .img1 {
    width: 100%;
    margin: 0 auto 50px auto;
    padding-left: 2%;
    display: block;
    height: auto;
  }

  .horizontal-container-w-grey {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .horizontal-container-w-grey2 {
    text-align: start;
    padding: 5px 20px 0 20px;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  
  .horizontal-container-w-white {
    text-align: start;
    padding: 5px 20px 0 20px;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .title-four {
    text-align: start;
    font-size: 2.75vw;
    margin: 50% 0 0 0;
  }

  .title-five {
    text-align: start;
    font-size: 2.75vw;
    margin: 15% 0 0 0;
  }

  .title-six {
    text-align: start;
    font-size: 2.75vw;
    margin: 40% 0 0 0;
  }

  .title-seven {
    text-align: start;
    font-size: 2.75vw;
    margin: 30% 0 0 0;
  }

  .title-eight {
    text-align: start;
    font-size: 2.75vw;
    margin: 20% 0 0 0;
  }

  .p-2 {
    text-align: start;
    font-size: 2vw;
    margin: 5% 0 5% 0 ;
    line-height: 1.3;
  }

  .p-3 {
    text-align: center;
    font-size: 2vw;
    margin: 5% 5% 5% 5% ;
    line-height: 1.3;
  }

  .btn1 {
    font-size: 1.75vw;
    margin-bottom: 25px;
  }

  .btn2 {
    font-size: 1.75vw;
    margin-bottom: 25px;
  }

  .btn3 {
    font-size: 1.75vw;
    margin-top: 20px;
    margin-bottom: 200px;
  }

  .img2 {
    width: 95%;
    margin: 18% auto 0 auto;
    display: block;
    height: auto;
    padding: 0;
  }

  .img3 {
    width: 95%;
    margin: 0 auto 0 auto;
    display: block;
    height: auto;
  }

  .img4 {
    width: 100%;
    margin: 18% auto 0 auto;
    display: block;
    height: auto;
    padding: 0;
  }
}

@media screen and (min-width: 922px) {
  .title-one {
    font-size: 4vw;
  }

  .hr1 {
    border: 3px solid #dddedf;
    width: 9vw;
  }

  .p-1 {
    font-size: 2vw;
    margin-top: 20px;
    margin-bottom: 35px;
    margin: 20px 5% 35px 5%;
  }

  .title-two {
    font-size: 2.25vw;
    margin-left: 2%;
    margin-right: 0;
  }

  .p-2 {
    text-align: start;
    font-size: 1.75vw;
    margin: 15px 10% 15px 10%;
  }

  .p-3 {
    font-size: 1.75vw;
    margin: 15px 10% 15px 10%;
  }

  .title-four {
    font-size: 2.25vw;
    margin-left: 10%;
  }

  .title-five {
    font-size: 2.25vw;
    margin-left: 10%;
  }

  .title-six {
    font-size: 2.25vw;
    margin-left: 10%;
  }

  .title-seven {
    font-size: 2.25vw;
    margin-left: 10%;
  }

  .title-eight {
    font-size: 2.25vw;
    margin-left: 10%;
  }

  .btn1 {
    font-size: 1.5vw;
    margin-bottom: 25px;
    margin-left: 10%;
  }

  .btn2 {
    font-size: 1.5vw;
    margin-bottom: 25px;
  }

  .btn3 {
    font-size: 1.5vw;
    margin-bottom: 300px;
    margin-left: 10%;
    margin-top: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .body-container {
    justify-content: center;
    display: grid;
    grid-template-columns: 1200px;
    padding: 0;
    margin: 0;
  }

  .vertical-container {
    display: grid;
    grid-template-columns: 1175px;
    justify-content: center;
    text-align: center;
  }
  
  .title-one {
    font-size: 38px;
  }

  .hr1 {
    width: 70px;
  }

  .p-1 {
    display: grid;
    grid-template-columns: 800px;
    justify-content: center;
    font-size: 24px;
    margin: 75px 15% 35px 15%;
  }

  .btn1 {
    font-size: 16px;
    margin-top: 30px;
  }

  .btn2 {
    font-size: 16px;
    margin-top: 30px;
  }

  .btn3 {
    font-size: 16px;
    margin-top: 30px;
  }

  .vid {
    width: 75%;
    margin: 25px auto 5px auto;
    display: block;
    height: auto;
  }

  .title-two {

    font-size: 26px;
    margin-top: 75px;
  }

  .title-three {

    font-size: 26px;
    margin: 200px 10% 0 10%;
  }

  .title-four {
    font-size: 26px;
    margin-top: 300px;
  }
  
  .title-five {
    font-size: 26px;
    margin-top: 125px;
  }
  
  .title-six {
    font-size: 26px;
    margin-top: 250px;
  }
  
  .title-seven {
    font-size: 26px;
    margin-top: 200px;
  }
  
  .title-eight {
    font-size: 26px;
    margin-top: 100px;
  }

  .p-2 {
    font-size: 18px;
    margin: 30px 10% 25px 10%;
  }
  
  .p-3 {
    font-size: 18px;
    margin: 50px 10% 25px 10%;
  }


  
}
